aiohttp==3.7.4.post0
aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-kms==2.15.0
appdirs==1.4.4
aria2p==0.10.4
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
cheroot==8.5.2
click==8.0.3
colorama==0.4.4
crcmod==1.7
cryptography==35.0.0
defusedxml==0.7.1
dnspython==2.1.0
eventlet==0.32.0
greenlet==1.1.2
idna==3.2
jaraco.functools==3.3.0
Jinja2==3.0.2
jmespath==0.10.0
json5==0.9.6
lib==3.0.0
loguru==0.5.3
MarkupSafe==2.0.1
more-itertools==8.10.0
multidict==5.2.0
oss2==2.15.0
ping3==3.0.2
prettytable==2.2.1
py-lru-cache==0.1.4
pycparser==2.20
pycryptodome==3.11.0
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
PyQtWebKit==5.13.1
PySocks==1.7.1
python-mpv==0.5.2
pywin32==302
PyYAML==6.0
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
tcping==0.1.1rc1
timeout-decorator==0.5.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.2.5
websocket-client==1.2.1
win32-setctime==1.0.3
WsgiDAV==3.1.1
yarl==1.7.0
